<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    bootstrap="tests/phpunit/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="integration">
            <directory prefix="test-" suffix=".php">./tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./inc</directory>
            <file>./functions.php</file>
        </include>
    </coverage>
</phpunit>
